<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpContextBinding_IService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="true" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3166/AddInCartVerificationItem.xamlx"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpContextBinding_IService"
        contract="AddInCartVerificationItem.IService" name="BasicHttpContextBinding_IService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceSession.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceCredentials>
            <windowsAuthentication allowAnonymousLogons="true" />
          </serviceCredentials>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SessionService.Service" behaviorConfiguration="ServiceSession.ServiceBehavior">
        <endpoint address="ServiceClient" binding="wsDualHttpBinding" contract="SessionService.IServiceClient" />
        <endpoint address="ServiceAdministrator" binding="wsDualHttpBinding" contract="SessionService.IServiceAdministrator" />
        <endpoint address="ServiceFournisseur" binding="wsDualHttpBinding" contract="SessionService.IServiceFournisseur" />
        <endpoint address="ServiceWorkflow" binding="basicHttpBinding" contract="SessionService.IServiceWorkflow" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
